<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab/vinyl"></ion-back-button>
    </ion-buttons>
    <ion-title>vinyl</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div *ngIf = "!modif">
    <ion-grid *ngIf="vinyl">
      <ion-row class="center">
        <ion-col class="center">
          <ion-card class="afficheCard">
            <img class="affiche" src="https://cdn-icons-png.flaticon.com/512/182/182377.png" [alt]="vinyl.title">
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="center">
        <ion-card>
          <ion-col>
            <strong>Title</strong> <br>
            <br> {{vinyl.title}}<br>
            <hr>
            <strong>Tr / min </strong> <br>
            <div *ngIf="vinyl.tour === false">
              <p>78 rpm</p>
            </div>
            <div *ngIf="vinyl.tour === true">
              <p>33 rpm</p>
            </div>
            <hr>
            <strong>Producer</strong> <br>
            <br> {{vinyl.productor}}<br>
            <hr>
            <strong>Date of Release</strong> <br>
            <br> {{vinyl.releaseDate}}<br>
            <hr>
            <strong>From the Movie</strong> <br>
            <br> {{vinyl.movieUsing}}<br>
          </ion-col>
        </ion-card>
        <ion-button (click)="modif = !modif"> Rendre Modifiable</ion-button>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf = "modif && vinyl">
    Je peux modifier
  </div>
</ion-content>
