<ion-header>
  <ion-toolbar>
    <ion-title>Vinyl</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-button class="new" routerLink="/tab/vinyl/newVinyl">New Vinyl</ion-button>
  <h2> </h2>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let vinyl of vinyls">
       <ion-card [routerLink]="['/tab/vinyl/', vinyl.id]">
        <img src="https://cdn-icons-png.flaticon.com/512/182/182377.png" [alt]="vinyl.title">
        <h5>{{vinyl.title}}</h5>
       </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

