ion-content.background{
    --background: url(https://static.tumblr.com/cf924c12c6b0fe47a2156c2805bd5516/oefelpi/BZgplgooy/tumblr_static_tumblr_static_bmrcygyaqxkcwgw8ccscgg08g_focused_v3.png);
    background-size: cover;
    color: white;
  }

  ion-card {
    background-image: url(https://img.freepik.com/free-photo/vintage-grungy-textured-paper-background_53876-103932.jpg?w=2000);
    background-size: cover;
    color:black;
    box-shadow: 5px 5px 5px 5px black;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

ion-button.new {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    --background: black;
    font-weight: bold;
}