<ion-header>
  <ion-toolbar>
    <ion-title>About us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  padding class="background">
  <h1>Who are we?</h1>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-card>
          <img src="https://images.squarespace-cdn.com/content/v1/63063c7b32acea0da5d3ca03/19cec161-4b76-4e6d-87dd-fc3d21843307/Joey+Drew+Studios.png">
        </ion-card>
      </ion-col>

      <ion-col size="1"></ion-col>

      <ion-col size="8">
        <p>
          We are the Archive of the now infamous Joey Drew Studios.
          The studio of animation who was born in 1929, in direct competition with the Walt Disney studios.
        </p>

        <p></p>

        <p>
          This logo was the first one ever use for the studios, far before it became what it is now.
          And far before most of our beloved character was ever drawn.
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>
          This studio was born from the mind of two long time friend. 
          Even if sadly, like their competitor, one of the two original creator is often forgotten.
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">
        <ion-card>
          <img src="https://static.wikia.nocookie.net/bendy-and-the-ink-machine/images/0/0c/Toon-JoeyDrew-by-MLSpence.png"  class="charachet">
        </ion-card>
      </ion-col>

      <ion-col size="1"></ion-col>

      <ion-col size="5">
        <p>
          Those two friends where Joey Drew (at the left) and Henry Stein (at the right).
          One was the dreamer, the head of the enterprise,  beloved by the journalists, and the other was the drawer, 
          the designer, the maker of the design of so many characters.
        </p>

        <p> </p>

        <p> </p>

        <p>
          Stein was known for being very reclusive, and it was one of the reasons he is always forgotten. 
          He is in this studio what ub Iwerks is for Disney studios.
        </p>

        <p> </p>

        <p> </p>

        <p>
          The other major reason for the fact that many people forget the existence of Stein, is actually what drove Stein to quit the studio.
          As Drew as now admitted to have put voluntarily his name and not the name of Stein in the credits of every of the animations.
        </p>
      </ion-col>

      <ion-col size="3">
        <ion-card>
          <img src="https://static.wikia.nocookie.net/bendy-and-the-ink-machine/es/images/e/e4/Henry_Stein.png" class="charachet">
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <p>
        It's this discare for the work of others. And its obsession to attribute everything good to himself,
        who actually drove the studio to it's downfall. When Stein resign and was replaced by other's,
        words got out, about the horrible treatment towards the employes in this establishment.
      </p>

      <p>
        Driven by anger caused by the loss of the trust and partnership of his best friend.
        Drew always ask more from his employe, to the point that some had to sleep in the studios to respect the deadline.
        And wasn't against the idea of invading the private life of his workers to make them work no matter the cost.
      </p>

      <p>This terrible treatment of his employees only got worse when the ink machine arrived.
        Till this terrible treatment has repercussion in the animation itself. The animations started to lose quality,
        and when Drew realises this, he already had to declared bankruptcy. Lacking the money to destroy the building,
        the old studio had and still stay abandoned to this day.
      </p>

      <p>
        It is unknown what happened to Drew and Stein, 
        as the two men like some of their employ, are declared missing to this day.
      </p>
    </ion-row>

    <ion-row>
      <ion-col>
        <h2>Our creations</h2>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ul>
          <li>1930 - The Dancing Demon</li>
          <li>1930 - Little Devil Darlin'</li>
          <li>1930 - The Sheep Song</li>
          <li>1931 - The Butcher Gang</li>
          <li>1931 - Demonic Tonic</li>
          <li>1931 - Hell's Kitchen</li>
          <li>1932 - Nightmare Faire</li>
          <li>1932 - Bosemary's Baby - Sitter</li>
          <li>1932 - Hell Hand Basket</li>
          <li>1933 - Hellfire Fighter</li>
          <li>1933 - The Devil's Treasure</li>
          <li>1933 - Train Trouble</li>
        </ul>
      </ion-col>
      
      <ion-col>
        <ul>
          <li>1934 - Scare of Treat</li>
          <li>1934 - Tombstone Picnic</li>
          <li>1934 - Cookie Cookin</li>
          <li>1935 - Hauted Hijinx</li>
          <li>1935 - Sent From Above</li>
          <li>1935 -  Siren Serenade</li>
          <li>1935 - Cheap Seats</li>
          <li>1935 - Tasty Trio Troubles</li>
          <li>1935 - Snow Sillies</li>
          <li>1935 - Showbiz Bendy</li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
