<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab/user/secret"></ion-back-button>
    </ion-buttons>
    <ion-title>secret</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-grid>
    <ion-row>
      <ion-col size="3">
      <ion-card>
        <img src="https://images.squarespace-cdn.com/content/v1/63063c7b32acea0da5d3ca03/19cec161-4b76-4e6d-87dd-fc3d21843307/Joey+Drew+Studios.png">
      </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-col>
            <p>...</p>
          </ion-col>
        </ion-card>
      </ion-col>
      <ion-col size="3">
        <ion-card>
          <img src="https://images.squarespace-cdn.com/content/v1/63063c7b32acea0da5d3ca03/19cec161-4b76-4e6d-87dd-fc3d21843307/Joey+Drew+Studios.png">
        </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-card>
        <ion-col>
          <p>...</p>
        </ion-col>
      </ion-card>
    </ion-row>
    </ion-grid>
</ion-content>
