<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab/user/secret"></ion-back-button>
    </ion-buttons>

    <ion-title>secret</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-grid *ngIf="secret">
    <ion-row  *ngIf="secret.objectifImgLink !== '. . .'">
      <ion-col size="4">
        <ion-card>
          <ion-col>
            <h5>Objectif</h5>
            <img class="affiche" [src]="secret.objectifImgLink" alt="image objectif">
          </ion-col>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card>
          <ion-col>
            <strong>Name</strong><br>
            <br> {{secret.title}} <br>

            <hr>

            <strong>Nickname</strong><br>
            <br> {{secret.nickname}} <br>

            <hr>

            <strong>Was</strong><br>
            <br> {{secret.nameOfSubject}} <br>

            <hr>

            <strong>Record</strong><br>
            <p *ngIf="secret.secretAudio !== '. . .'">
              <audio controls preload="none" style="width:150px;">
                <source [src]="secret.secretAudio" type="audio/ogg">
              </audio><br>
            </p>

            <p *ngIf="secret.secretAudio === '. . .'">
              [ACCES DENIED]<br>
            </p>
          </ion-col>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card>
          <ion-col>
            <h5>Result</h5>
            <img class="affiche" [src]="secret.resultImgLink" alt="image result">
          </ion-col>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="secret.objectifImgLink === '. . .'">
      <ion-col size="4">
        <ion-card>
          <ion-col>
            <img class="affiche" [src]="secret.resultImgLink" alt="image result">
          </ion-col>
        </ion-card>
      </ion-col>

      <ion-col size="8">
        <ion-card>
          <ion-col>
            <strong>Name</strong><br>
            <br> {{secret.title}} <br>

            <hr>

            <strong>Nickname</strong><br>
            <br> {{secret.nickname}} <br>

            <hr>

            <strong>Was</strong><br>
            <br> {{secret.nameOfSubject}} <br>

            <hr>

            <strong>Record</strong><br>
            <p *ngIf="secret.secretAudio !== '. . .'">
              <audio controls preload="none">
                <source [src]="secret.secretAudio" type="audio/ogg">
              </audio><br>
            </p>

            <p *ngIf="secret.secretAudio === '. . .'">
              [ACCES DENIED]<br>
            </p>
          </ion-col>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-card>
        <ion-col>
          <strong>Damages caused</strong><br>
          <br> {{secret.killCount}} <br>

          <hr>

          <strong>Log</strong><br>
          <br> {{secret.log}} <br>
        </ion-col>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
