<ion-header>
  <ion-toolbar>
    <ion-title>Movie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink="/tab/movie/newMovie">New Movie</ion-button>
  <h2></h2>
 <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let movie of movies">
        <ion-card [routerLink]="['/tab/movie/', movie.id]">
         <img [src]="movie.affiche" [alt]="movie.title">
         <h5>{{movie.title}}</h5>
        </ion-card>
       </ion-col>
     </ion-row>
   </ion-grid>
 </ion-content>