<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tab/user"></ion-back-button>
      </ion-buttons>
    <ion-title>Ink Machine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let secret of secrets">
       <ion-card [routerLink]="['/tab/user/secret/', secret.id]">
        <img src="https://cdn-icons-png.flaticon.com/512/35/35920.png" [alt]="secret.title">
        <h5>{{secret.title}}</h5>
       </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
