<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab/movie"></ion-back-button>
    </ion-buttons>
    <ion-title>New Movie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-row class="center">
    <ion-card>
      <ion-col class="item">
          <ion-item>
            <ion-label>Title : </ion-label> 
            <ion-input type="text" [(ngModel)]="movie.title"></ion-input>
          </ion-item>
      <hr>
          <ion-item>
            <ion-label>Producer : </ion-label>
            <ion-input type="text" [(ngModel)]="movie.productor"></ion-input>
          </ion-item>
      <hr>
          <ion-item>
            <ion-label>Realisator : </ion-label>
            <ion-input type="text" [(ngModel)]="movie.realisator"></ion-input>
          </ion-item>
      <hr>
          <ion-item>
            <ion-label>Music Composer : </ion-label>
            <ion-input type="text" [(ngModel)]="movie.musicComposeur"></ion-input>
          </ion-item>
      <hr>
          <ion-item>
            <ion-label>Release Date : </ion-label>
            <ion-input type="text" [(ngModel)]="movie.releaseDate"></ion-input>
          </ion-item>
      <hr>
          <ion-item>
            <ion-label>Cover link : </ion-label>
            <ion-input type="text" [(ngModel)]="movie.affiche"></ion-input>
          </ion-item>
      <hr>
          <ion-item>
            <ion-label>Movie link : </ion-label>
            <ion-input type="text" [(ngModel)]="movie.link"></ion-input>
          </ion-item>
      <hr>
          <ion-item>
            <ion-label>Quality : </ion-label>
            &nbsp;<input type="radio" name="Qualiter" class="form-check-input" [value]="true" [(ngModel)]="movie.nature"> <label>Original</label>&nbsp;
              
            &nbsp;<input type="radio" name="Qualiter" class="form-check-input" [value]="false" [(ngModel)]="movie.nature" > <label>Reproduction</label>
            
          </ion-item>
      <hr>
          <ion-item>
            <ion-label>Synopsis : </ion-label>
            <ion-input type="text" [(ngModel)]="movie.synopsis"></ion-input>
          </ion-item>
      </ion-col>
    </ion-card>
  </ion-row>
  <div class="center">
    <ion-button (click)="add()">Add</ion-button>
  </div>
</ion-content>
