<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab/movie"></ion-back-button>
    </ion-buttons>
    <ion-title>movie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="modif = !modif"> Rendre Modifiable</ion-button>
  <div *ngIf = "!modif">
    <div *ngIf="movie">
      <div  *ngIf="movie.affiche !== 'https://i.pinimg.com/originals/7a/57/c1/7a57c177ee7c2a5e96f44df3f49088b6.png'">
        J'affiche le details sans youtube
      </div>
      <div *ngIf="movie.affiche === 'https://i.pinimg.com/originals/7a/57/c1/7a57c177ee7c2a5e96f44df3f49088b6.png'">
        J'affiche le details avec youtube
      </div>
    </div>
  </div>

  <div *ngIf = "modif">
    Je peux modifier
  </div>

</ion-content>
