.affiche {
    width: 300px;
   
}

.center{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

ion-card {
    background-image: url(https://img.freepik.com/free-photo/vintage-grungy-textured-paper-background_53876-103932.jpg?w=2000);
    background-size: cover;
    color:black;
    box-shadow: 5px 5px 5px 5px black;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    
}

hr {
    border-bottom: 1px solid #000000;
    margin: 10px 0;
    width: 90%;
  }