<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab/movie"></ion-back-button>
    </ion-buttons>
    <ion-title>Movie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf = "!modif">
    <ion-grid *ngIf="movie">
      <ion-row>
        <div  *ngIf="movie.affiche !== 'https://i.pinimg.com/originals/7a/57/c1/7a57c177ee7c2a5e96f44df3f49088b6.png'">
          <ion-col>
            <img class="affiche" [src]="movie.affiche" alt="image movie">
          </ion-col>
        </div>
        <div *ngIf="movie.affiche === 'https://i.pinimg.com/originals/7a/57/c1/7a57c177ee7c2a5e96f44df3f49088b6.png'">
          <ion-col>
            <iframe width="420" height="345"  [src]="movie.link"></iframe>
          </ion-col>
        </div>
      </ion-row>
      <ion-row>
        <ion-card>
          <ion-col>
            <strong>Title</strong> <br>
            {{movie.title}}<br>
            <hr>
            <strong>Quality</strong> <br>
            <div *ngIf="movie.nature === true">
              <p>Original</p>
            </div>
            <div *ngIf="movie.nature === false">
              <p>Reproduction</p>
            </div>
            <hr>
            <strong>Producer</strong> <br>
            {{movie.productor}}<br>
            <hr>
            <strong>Realisator</strong> <br>
            {{movie.realisator}}<br>
            <hr>
            <strong>Date of Release</strong> <br>
            {{movie.releaseDate}}<br>
            <hr>
            <strong>Synopsis</strong> <br>
            {{movie.synopsis}}<br>
          </ion-col>
        </ion-card>
      </ion-row>
    </ion-grid>
    
  </div>
  <div *ngIf = "modif && movie">
    Je peux modifier
  </div>
  <ion-button (click)="modif = !modif"> Rendre Modifiable</ion-button>
</ion-content>
