<ion-header>
  <ion-toolbar>
    <ion-title>User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-grid>
    <ion-row>
      <ion-col size="5">

      <ion-card>
        <ion-col>
        <img src="https://ih1.redbubble.net/image.1666214505.5215/st,small,507x507-pad,600x600,f8f8f8.jpg" alt="avatar" style="width: 150px; border-radius: 50%;"> 
        <h5>Admin</h5>
        <p >Administrator</p>
        <p>Los Angeles, CA 90027, USA</p>
      </ion-col>
      </ion-card>
      </ion-col>
      <ion-col size="7">
        <ion-card>
          <ion-col>
            <h6>Full Name</h6>
            <p class="text-muted mb-0">Admin Sudo</p>
            <hr>
            <h6>Email</h6>
            <p class="text-muted mb-0">Admin.Sudo@Qwerty.fr</p>
            <hr>
            <h6>Phone</h6>
            <p class="text-muted mb-0">(097) 234-5678</p>
            <hr>
            <h6>Address</h6>
            <p class="text-muted mb-0">2495 Lyric Ave, Los Angeles, CA 90027, États-Unis</p>
          </ion-col>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="center">
      <ion-card>
        <ion-button routerLink="secret">Ink Machine</ion-button>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
