<ion-header>
  <ion-toolbar>
    <ion-title>User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-grid>
    <ion-row>
      <ion-col size="5">

      <ion-card>
        <ion-col>
        <img src="https://ih1.redbubble.net/image.1666214505.5215/st,small,507x507-pad,600x600,f8f8f8.jpg" alt="avatar" style="width: 150px; border-radius: 50%;"> 
        <h5>Admin</h5>
        <p >Administrator</p>
        <p>Los Angeles, CA 90027, USA</p>
      </ion-col>
      </ion-card>
      </ion-col>
      <ion-col size="7">
        <ion-card>
          <ion-col>
            <h6>Full Name</h6>
            <p class="text-muted mb-0">Admin Sudo</p>
            <hr>
            <h6>Email</h6>
            <p class="text-muted mb-0">Admin.Sudo@Qwerty.fr</p>
            <hr>
            <h6>Phone</h6>
            <p class="text-muted mb-0">(097) 234-5678</p>
            <hr>
            <h6>Address</h6>
            <p class="text-muted mb-0">2495 Lyric Ave, Los Angeles, CA 90027, États-Unis</p>
          </ion-col>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="center">
      <ion-card>
        <ion-col>
        <h5>Mail</h5>
          <ion-card>
            <ion-col>
              <h5>From : Gent Corporation</h5>
              <p>Dear Administrator,
                  <br><br> We heard about the closure of this company. And we are sad to see one of our most lucrative collaborators has to go. However, since your boss seems deaf to every of our mails, we have a last task for you to finish before you go. 
                  <br><br>Joined to this mail there will be a link to a page we need you to delete. This page is of high confidentiality, and contain many sensible data.
                  <br><br>You will be asked to ask no question, nor to communicate in any circumstance, any of the information you might be exposed to if you accept to do what you are asked to.

                  <br><br>You will of course be paid for your silence
                  
                  <br><br>With our gratitude.
                  
                 <br><br> Gent Corporation</p>
                 <br><h6>Link : <a routerLink="secret">Gent&JoeyDrewDataBase : TheInkMachineProject</a></h6>
            </ion-col>
          </ion-card>
       
          <ion-card>
            <ion-col>
              <h5>From :  Joey Drew</h5>
              <p>Hello dear employee
                <br><br> I have the regret to inform by this mail that, because of monetary issues I will not be able to pay you for this month, nor for the months to come. 
                <br><br>I am afraid that the end of our company is coming faster than I realise. This is why I will officially inform the media of the closure of this company next month. 
                <br><br>I wish you all luck for finding another job. You were all fantastic.
                <br><br>Your dear Joey, Drew.</p>
            </ion-col>
          </ion-card>

          <ion-card>
            <ion-col>
              <h5>From : Jade Roublot</h5>
              <p>Dear Administrator,
                <p>Hi, Could you please inform mister Joey Drew that its web site is ready for being published? 
                  <br>We still waiting for our payment 
                  
                  <br> <br>Thank you in advance.</p>
            </ion-col>
          </ion-card>
        </ion-col>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
